body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

.logo {
    margin-left: 70px;
}

.header {
    background-color: #f05496;
    height: 500px;
    padding-top: 70px;
    padding-bottom: 125px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.big {
    font-size: 35px;
    font-weight: bold;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.offer {
    margin-top: 140px;
}

.btn {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: #ffffff;
    color: black;
    width: 220px;
    border-radius: 0px;
    display: block;
    padding: 15px 10px;
}

.intro {
    margin-bottom: 45px;
}

.second {
    color: black;
    font-size: 30px;
}

.learn {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 125px;
}

.dreams {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.time {
    width: 45px;
    height: 45px;
}

.dream {
    color: black;
    font-weight: bold;
}

.blockdream {
    color: black;
}

.mail {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 100px;
    background: #e9dee3;
}

input {
    width: 345px;
    height: 50px;
    border: 1px solid #7f7b94;
    padding-left: 25px;
    display: block;
    margin: 1em auto;
}

.btn-down {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: #ffffff;
    color: black;
    width: 220px;
    border-radius: 0px;
    display: block;
    padding: 15px 10px;
}

.footer {
    background-color: #867bc0;
    padding: 30px 70px;
}

.footer-text {
    color: #ffffff;
    text-align: center;
}